[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "blockscout"]
	path = blockscout
	url = https://github.com/SpecularL2/blockscout
[submodule "services/el_clients/go-ethereum"]
	path = services/el_clients/go-ethereum
	url = https://github.com/specularL2/go-ethereum
