[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "clients/geth/go-ethereum"]
	path = clients/geth/go-ethereum
	url = https://github.com/SpecularL2/go-ethereum
[submodule "blockscout"]
	path = blockscout
	url = https://github.com/SpecularL2/blockscout
